
*{
	font-family: arial;
}

body{
	background-image: url("fullmeal.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	font-size: 13px;
	margin: 0;
}
h2{
	color: #8E44AD;
}

.card {
  
  margin: 5% 35% 0 35%;
  padding: 25px;
  background-color: #EAEDED;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 2px 16px;
}

.textbox{
	margin-bottom: 25px;
	padding: 5px;
	border: 0;
	background-color: #EAEDED;
	border-bottom: 2px solid #8E44AD;
	font-size: 15px;
}

.Userimg{
	width: 200px;
	height: 200px;
}

.Nextbtn{
	margin-top: 15px;
	width: 150px;
	border:0;
	background-color: #3498DB;
	color: #fff;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.Nextbtn:hover{
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #2874A6;
}

.signin{
	margin-top: 15px;
	width: 150px;
	border:0;
	background-color: #2ECC71;
	color: #fff;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.signin:hover{
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #239B56;
}

.btnclear{
	width: 150px;
	border:0;
	background-color: #E74C3C;
	color: #fff;
	padding: 10px 25px 10px 25px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btnclear:hover{
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
	background-color: #B03A2E;
}